*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  margin: 10px 400px 10px 400px;
  padding: 5px 0px;
  border-radius: 7px;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  white-space: nowrap;
}
